extend ../dashboard/layout
block content
  h1 Crear Categoría
  form(action="/app/category",method="POST")
    div.form-group
      label(for="title") Title
      input(type="text",name="title",class="form-control",id="title")
    div.form-group
      label(for="color") Color
      input(type="color",name="color",class="form-control",id="color")
    input(type="submit",value="Guardar", class="btn btn-primary")
    a(href="/app/tasks",class="btn btn-primary") Lista de tareas
