extend ../dashboard/layout
block content
  h1 Crear Tarea
  form(action="/tasks",method="POST")
    div.form-group
      label(for="description") Descripcion
      textarea(name="description",class="form-control",id="description")
    input(type="submit",value="Guardar", class="btn btn-primary")
    a(href="/tasks",class="btn btn-primary") Lista de tareas
