extend ../dashboard/layout
block content
  h1 Editar Tarea
  form(action="/tasks/"+task.id,method="POST")
    input(type="hidden",value="PUT",name="_method")
    div.form-group
      label(for="description") Descripcion
      textarea(name="description",class="form-control",id="description")= task.description
    input(type="submit",value="Guardar", class="btn btn-primary")
    a(href="/tasks",class="btn btn-primary") Lista de tareas
    a(href="/tasks/create",class="btn btn-primary") crear tarea
