extend ../dashboard/layout
block content
  h1 Ver Tarea
  h3= task.description
  ul
    each category in task.categories
      li= category.title
  a(href="/app/tasks",class="btn btn-primary") Lista de tareas
  a(href="/app/tasks/create",class="btn btn-primary") crear tarea
