nav(class="navbar navbar-expand-lg navbar-light bg-light") 
  a(class="navbar-brand" href="/dashboard") Dashboard
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse" id="navbarSupportedContent")
    ul(class="navbar-nav mr-auto")
      li(class="nav-item active")
        a(class="nav-link" href="/app/dashboard") Home
      li(class="nav-item")
        a(class="nav-link" href="/app/users") Usuarios
      li(class="nav-item")
        a(class="nav-link" href="/app/tasks") Tareas
      li(class="nav-item")
        form(action="/logout/", method="POST")
          input(type="hidden",value="DELETE",name="_method")
          input(type="submit",value="Cerrar sesión",class="btn btn-link")
